

/* inizio header*/
header {
background-image: url('../img/pattern.png');
height: 80px;
background-size: 20%;
background-repeat: repeat;
background-color: blue;
margin: 0;
padding: 0;
box-sizing: border-box;
}


.logo {
    height: 40px;
    background-size: 10%;
    margin-top: 30px;
}

/*inizio main*/ 

h1 {
    margin:0px;
}

.grigio {
    color: lightslategray
}

.blu{
    color: blue;
}

.data {
    font-size: 10px;
}
/*fine prima section*/

.didascalia {
    font-size: 10px;
}
/*fine seconda section*/

.giallo{
    background-color: yellow;
}

/*tabella*/
table{
    text-align:left;
}
.intestazione {
background-color: blue;
color: white;
text-align: center;
}

.azzurro{
    background-color: aqua;
}

.bianco{
    background-color: white;
}
/*fine main*/

/*inizio footer*/

.monitor {
    margin: 0px;
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    background-position:center;
    color: white;
    font-size: 140%;
    text-align: top;
    width: 240px;
    height: 150px;

}

.grafico {
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    background-position:center;
    color: white;
    font-size: 140%;
    text-align: top;
    width: 240px;
    height: 150px;
}